{minimum_otp_vsn, "28.0"}.

{erl_opts, [no_debug_info]}.
{deps, [
    {egl, {git, "https://github.com/erlangsters/egl-1-5", {tag, "master"}}},
    {gl, {git, "https://github.com/erlangsters/opengl-es-3.1", {tag, "master"}}},
    {glfw, {git, "https://github.com/erlangsters/glfw", {tag, "master"}}}
]}.

{escript_incl_apps, [egl, gl, glfw, breakout]}.
{escript_main_app, breakout}.
{escript_name, breakout}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
