{minimum_otp_vsn, "28.0"}.

{erl_opts, [debug_info]}.

% OpenGL ES 3.1 is the intended long-term target. OpenGL 4.6 is a temporary
% desktop stand-in while the rest of the stack is being composed and proven.
{deps, [
  {egl, {git, "https://github.com/erlangsters/egl-1.5.git", {branch, "master"}}},
  {gl, {git, "https://github.com/erlangsters/opengl-4.6.git", {branch, "master"}}},
  {glfw, {git, "https://github.com/erlangsters/glfw.git", {branch, "master"}}},
  {glm, {git, "https://github.com/erlangsters/glm.git", {branch, "master"}}}
]}.
